---
import { getEntry } from "astro:content";
import BlogLayout from "../../layouts/blogLayout.astro";
import { GET } from "../api/data.json";
import { buildPage } from "../../util";

export const prerender = false;

const { title: queryBlogId } = Astro.params;
if (queryBlogId === undefined) {
    throw new Error("queryBlog title is required");
}
let Content = null;
let pageContent = null;

const entry = await getEntry("blog", queryBlogId);
let editAble = false;
if (entry) {
    // render local file content
    pageContent = entry.data;
    Content = (await entry.render()).Content;
} else {
    // await remote db content
    let response = await fetch(
        "http://localhost:8080/api/blog/" + queryBlogId,
        {
            method: "GET",
        },
    );
    if (response) {
        // render remote db content
        pageContent = (await buildPage(response))[0].data;
        editAble = true;
    } else {
        return Astro.redirect("/404");
    }
}

const response = await GET();
const dataJson = await response.json();
---

<BlogLayout
    title={pageContent.title}
    description={pageContent.description + "---from:" + dataJson.message}
    author={pageContent.author}
    tags={pageContent.tags}
>
    {Content ? <Content /> : <div>{pageContent.content}</div>}
    {
        editAble && (
            <div class="update">
                <a href={"/blog/update?id=" + pageContent._id}>去修改</a>
            </div>
        )
    }
</BlogLayout>
<style lang="scss" scoped>
    .update {
        width: fit-content;
        background: orange;
        text-align: center;
        padding: 0.2rem;
        text-indent: initial;
        color: #fff;
        border-radius: 12px;
        cursor: pointer;
    }
</style>
