---
import { getCollection, type CollectionEntry } from "astro:content";
import BlogBrief from "../../components/blogBrief.vue";
import BaseLayout from "../../layouts/baseLayout.astro";
import { PAGE_SIZE } from "../../util";
import Pagination from "../../components/pagination.vue";

type Props = CollectionEntry<"blog">;
export async function getStaticPaths({ paginate }) {
  const allPosts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
  return paginate(allPosts, { pageSize: PAGE_SIZE });
}


const { page } = Astro.props;
console.log('[test] props', Astro.props, ',params:', Astro.params);

export const prerender = true
---

<BaseLayout>
  <section>
    <BlogBrief blogs={page.data} />
  </section>
  <Pagination currentPage={page.currentPage} maxPage={page.lastPage} />
</BaseLayout>
