---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/baseLayout.astro";
import { buildPage, getRandomColor, getRandomSize } from "../../util";
import Tag from "../../components/tag.vue";
import CommonLink from "../../components/commonLink.vue";

export const prerender = false;

const localPosts = await getCollection("blog");
const response = await fetch("http://localhost:8080/api/blog", {
    method: "GET",
});
const remotePosts = await buildPage(response);
const allPosts = localPosts.concat(remotePosts);
const tags = [
    ...new Set(
        allPosts
            .map((posts) => {
                return posts.data.tags;
            })
            .flat(),
    ),
];
---

<BaseLayout>
    <div class="tags">
        {
            tags.map((tag, _) => {
                return (
                    <Tag color={getRandomColor()} size={getRandomSize()}>
                        <CommonLink href={"/tags/" + tag}>{tag}</CommonLink>
                    </Tag>
                );
            })
        }
    </div>
</BaseLayout>

<style scoped>
    .tags {
        display: flex;
    }
</style>
