---
import BlogLayout from "../layouts/blogLayout.astro";
---

<BlogLayout
    title="About Me"
    description="About Me Description"
    author="gavin me"
    pubDate={new Date("August 08 2021")}
    heroImage="/blog-placeholder-about.jpg"
>
    <p>关于自己</p>
</BlogLayout>
