---
import Button from "../components/button.vue";
import BaseLayout from "../layouts/baseLayout.astro";
import FeedbackForm from "../components/FeedbackForm.vue";
import "element-plus/theme-chalk/src/button.scss";
import "element-plus/theme-chalk/base.css";
---

<BaseLayout>
	<FeedbackForm client:load />
	<Button client:load text={"测试"} />
	<div class="astroEntry"></div>
	<div id="dialog" style="display: hidden">Hello world!</div>
	<div>
		self event detail:
		<div class="event"></div>
	</div>
</BaseLayout>

<script>
	import { isOpen } from "../store/index";
	isOpen.subscribe((open) => {
		if (open) {
			document.getElementById("dialog").style.display = "block";
		} else {
			document.getElementById("dialog").style.display = "none";
		}
	});
</script>
